{% extends "base_generic.html" %}

{% block content %}
  <h2>About</h2>
  <p>Welcome to <em>LocalLibrary</em>, a very simple Django website developed by Genice! </p>
  <div style="margin-left:20px;margin-top:20px"></div>
    <hr> 
    <h3>Dynamic content</h3>  
      <p>Our library has the following record counts:</p>
      <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Number of genres containing 'Fantasy:'</strong> {{ num_genres }}</li>
        <li><strong>Number of books containing 'Matilda':</strong> {{ num_books_filter }}</li>
      </ul>

      <p><em>Local Library is constantly improving our selection of books! <br>If you have a request, please put it through our email.</em>
      </p>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
</hr>
{% endblock %}