@import url(https:/fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https:/fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

html {
    min-height: 100%;
    overflow: hidden;
}

body {
    height: calc(100vh -8em);
    padding: 4em;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Lora';
    background-color: rgb(25, 25, 25);
}

.anim-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinitee normal;
}

@keyframes typewriter {
    from {
        width: 0
    }
    to {
        width: 16em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}